@page
@model ProtOJ.Pages.Sessions.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Session</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.SessionName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.SessionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.SessionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Session.CreatedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Session.CreatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Session.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
